<div class="col-12">
  <div class="d-flex justify-content-end">
    <h2 class="mr-auto">
      New Post
    </h2>

    <p><%= link_to fa_icon('arrow-left', text: 'See all'), admin_posts_path(context_params), class: 'btn btn-secondary ml-1', role: 'button' %></p>
  </div>

  <%= render 'form', post: @post, url: admin_posts_path %>
</div>
