<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="YABP frontend">
    <meta name="author" content="João Gonçalves: https://github.com/goncalvesjoao">

    <title>[ADMIN] Yet another Blog platform</title>

    <%= stylesheet_pack_tag 'web_app' %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_pack_tag 'web_app' %>
  </body>
</html>
